#sketchCanvas {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 710px;
    height: 500px;
    border: 2px black solid;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.cube{
    /* align-items: center; */
    width: 100%;
    height: 100%;
    border: 1px white solid;
  /* This will make the cubes stretch to fit the width and height of the canvas. */
  flex-grow: 1;
  /* This will allow the cubes to shrinking horizontally    . */
  flex-shrink: 1;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
